<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>StaticPages#about</h1>
    <p>Find me in app/views/static_pages/about.html.erb</p>
  </body>
</html>